<h1>Login Form</h1>

<%= form_with scope: :session, url: login_sessions_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "Log In" %>
<% end %>
<br>

<%= link_to("Don't have an account?", new_user_path) %>