<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="ml-8 mt-8 w-4/12">

  <h1 class="font-bold text-3xl text-center mb-4">Create your account:</h1>

  <%= form_with model: @user, url: users_path, method: :post do |f| %>
    <%= f.label :email, class: "uppercase font-bold text-lg text-grey-darkest mb-1" %>
    <%= f.text_field :email, class: "w-12/12 pl-2 border border-black rounded" %>
    <br><br>
    <%= f.label :username, class: "uppercase font-bold text-lg text-grey-darkest mb-1" %>
    <%= f.text_field :username, class: "w-12/12 pl-2 border border-black rounded" %>
    <br><br>
    <%= f.label :password, class: "uppercase font-bold text-lg text-grey-darkest mb-1" %>
    <%= f.password_field :password, class: "w-12/12 pl-2 border border-black rounded" %>
    <br><br>
    <%= f.label :password_confirmation, class: "uppercase font-bold text-lg text-grey-darkest mb-1" %>
    <%= f.password_field :password_confirmation, class: "w-12/12 pl-2 border border-black rounded" %>
    <br><br>
    <%= f.submit "Sign up", class: "p-2 bg-indigo-400 text-lg text-white rounded-xl cursor-pointer" %>
  <% end %>
  <br>
  <%= link_to("Already have an account?", sessions_path) %><br><br>
  <%= link_to("Sign In With Google", '/auth/google_oauth2', method: :post) %>
</div>