

<div class="bg-gray-100 w-5/12 h-auto mx-12 my-8 border-black border-2 rounded-xl" >
  <h2 class="text-blue-700 my-4 text-center text-3xl italic"><%= book.title %></h1>
  <h3 class="mb-2 text-center font-bold"><%= book.author %></h3>
  <div class="flex justify-around mb-4">
    <div class="w-4/12">  
      <img class="mx-auto mb-2" src="<%= book.image_path %>" width="100" height="175">
    </div>
    <div class="w-8/12 flex flex-col max-h-48 py-2">
      <p class="text-center my-3 w-10/12 mx-auto p-2 text-xs whitespace-pre-wrap bg-red-200 rounded-lg">reservation ends on <%= reserved_until(book) %> @ midnight<p>
      <p class="my-auto mx-2 text-center whitespace-pre-wrap text-sm truncate overflow-hidden"><%= book.description %></p>
    </div> 
  </div>
  <div>
    <%= form_with model: book, url: remove_book_from_library_library_path(library_id: @library.id), method: :patch do |f| %>
      <%= f.hidden_field(:id) %>
    <%= f.submit "Return Book", class: "#{checkout_class(book)}" %>
  <% end %>
  </div>
 
</div>