<h1>Add a new book:</h1>

<%= form_with model: @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <br><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br><br>
  <%= f.label :image_path %>
  <%= f.text_field :image_path %>
  <br><br>
  <%= f.submit %>
<% end %>


  