<div class="w-full h-full flex justify-center">
  <div class="w-8/12 flex flex-col">
    <h1 class="text-center italic text-4xl my-6"><%= @book.title %></h1>
    <h3 class="text-center font-bold text-2xl mb-6"><%= @book.author %></h3>
    <p class="whitespace-pre-wrap text-xl mx-10 mb-6"><%= @book.description %></p>
    <img class="mx-auto" src="<%= @book.image_path %>" width="225" height="300">
    <div class="flex justify-center">
      <%= form_with model: @book, url: new_library_media_transaction_path(library_id: @library.id), method: :get do |f| %>
        <%= f.hidden_field(:id) %>
        <%= f.submit checkout_button_text(@book), class: "#{checkout_class(@book)}", disabled: checked_out?(@book) %>
      <% end %>
    </div>
  
  </div>
</div>
