<h1>Checkout Form:</h1>

<h1><%= @book.title %></h1>
<%= form_with model: @transaction, url: library_media_transactions_path do |f| %>
  <%= hidden_field_tag("book_id", @book.id) %>
  <%= hidden_field_tag("library_id", @library_id) %>
  <%= f.fields_for :book_transaction do |t| %>
    Length: <%= t.select :length_days, options_for_select(["Select your reservation length", "7", "14", "21"], :disabled => ["Select your reservation length"]) %>
  <% end %>
  <br><br>
  <%= f.submit "Complete Transaction" %>

<% end %>