<div class="w-full h-full flex justify-center">
  <div class="w-8/12 flex flex-col">
    <h1 class="text-center">Checkout Form:</h1>

    <p class="mt-4 mb-1 text-xl italic"><%= @book.title %></p>
    <p class="mb-4 text-lg">by: <%=@book.author %></p>
    <%= form_with model: @media_transaction, url: library_media_transactions_path(@library) do |f| %>
      <%= f.fields_for :book_transactions do |t| %>
        <div class="flex flex-col mb-4">
          <%= t.hidden_field :book_id, value: @book.id %>
          <%= t.label :length_days, "Transaction Length", class: "uppercase font-bold text-lg text-grey-darkest mb-1" %>
          <%= t.select :length_days, options_for_select(["Select your reservation length", "7", "14", "21"], :disabled => ["Select your reservation length"]), {}, { class: "w-5/12 pl-2 border border-black rounded font-bold" } %>
        </div>
        <% end %>
      <%= f.submit "Complete Transaction", class: "p-2 bg-indigo-400 text-lg text-white rounded-xl cursor-pointer" %>

    <% end %>
  </div>
</div>