<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibraryAppMod3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="w-screen h-12 bg-blue-200 flex justify-around">
      <div>
        All Books
      </div>
      <div>
        New Book
      </div>
      <div>
        Library
      </div>
      <% if session[:user_id] %>
        <div>
          <%= link_to("Logout", 'sessions/logout') %>
        </div>
        <div>
      <% end %>
        
      </div>
    </div>
    <%= yield %>
  </body>
</html>
