<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibraryAppMod3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
      <% if session[:user_id] %>
        <div class="w-screen h-12 bg-blue-200 flex justify-center">
          <div class="mx-8">
            <%= link_to("All Books", books_path) %>
          </div>
          <div class="mx-8">
            <%= link_to("New Book", new_book_path) %>
          </div>
          <div class="mx-8">
            <%= link_to("My Library", library_path(current_user.library)) %>
          </div>
          <div clas="mx-8">
            <%= link_to("My Transactions", library_media_transactions_path(current_user.library)) %>
          </div>
          <div class="mx-8">
            <%= link_to("Logout", '/sessions/logout', method: :post) %>
          </div>
        </div>
      <% end %>

    <%= yield %>
  </body>
</html>
